profiles {

    batch {
        process {
            executor = 'awsbatch'
            queue = 'JobQueue-81f6a91ba9ed070'
            errorStrategy = 'terminate'
            $task.cpus = 1
            $task.memory = '1 GB'
        }

        aws {
            batch.cliPath = '/usr/bin/aws'
            region = 'eu-central-1'
            accessKey = 'AKIA6GPZASY2GGBN4XW2'
            secretKey = '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'
        }
    }

    standard {
        process.container = 'nextflow/nextflow:latest'
        docker.enabled = true
        docker.runOptions='-u $(id -u):$(id -g)'
    }
}